atomicwrites==1.4.0
attrs==21.2.0
certifi==2021.5.30
charset-normalizer==2.0.3
coverage==5.5
flake8==3.9.2
idna==3.2
mccabe==0.6.1
more-itertools==8.8.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
pymongo==3.12.0
pytest==3.9.2
pytest-cov==2.6.0
python-dateutil==2.8.2
requests==2.26.0
rollbar==0.16.1
six==1.16.0
urllib3==1.26.6
pytz
