atomicwrites
attrs
certifi
charset-normalizer
coverage
flake8
idna
mccabe
more-itertools
pluggy
py
pycodestyle
pyflakes
pymongo
pytest
pytest-cov
python-dateutil
requests
rollbar
six
urllib3
pytz
pandas
flask
